.portfolioDisc {
    width: 100%;
    height: 0px;
    // height: calc(100vh - 52px);
    // padding-top: 0px;
    // overflow: auto;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    // margin-top: 300px;
    position: relative;
    // background-color:#000;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    // color: #FFF;
    // background-color: rgb(251 207 232 / var(--tw-bg-opacity));
}

.anim:active .portfolioDisc {
    // margin-top:221px;
    height: 69px;
    // padding-top: 10px;
}