// Base: animations, base, typography, and utilies.
@import "./scss/base/_typography.scss";
@import "./scss/base/_global.scss";
@import "./scss/base/swiper.scss";
@import "./scss/base/_sp_colors.scss";

// Layout: Header, footer, grid, navigation
// @import './scss/layout/_footer.scss';
@import "./scss/layout/_navbar.scss";
@import "./scss/layout/_header.scss";

// Pages: Have a single scss for each specific page

// @import './scss/pages/_home.scss';

// Vendor: handles 3rd party css
@import "./scss/vendor/_prose.scss";

// Components: have a single scss file for each individual component
@import "./scss/components/_nemo-hover.scss";
@import "./scss/components/_404.scss";
@import "./scss/components/_cats-and-tags.scss";
@import "./scss/components/_archive-project.scss";
@import "./scss/components/_lets-talk.scss";
@import "./scss/components/_testimonials.scss";

.all-remove-check {
    display: none;
}
.logo-links img {
    width: 16px;
    height: 16px;
}

.hamburger1 {
    display: none;
}

img[src*=".svg"] {
    width: 100%;
}
