

.page_404{ 
    padding:40px 0;
    background:#fff;
    font-family: "Montserrat", sans-serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
     background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
}
.container_404{
   max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}
 
 
.four_zero_four_bg h1{
 font-size:80px;
}
.error-four{
    background: linear-gradient(95.34deg, #C0EECA -0.51%, #8EBFFF 128.64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 120px;
    font-weight:700;
 }

 .error_link{
    background: linear-gradient(95.34deg, #C0EECA -0.51%, #8EBFFF 128.64%);

 }
 .error_link:hover{
    background: linear-gradient(95.34deg, #c4edcd -0.51%, #92bef8 128.64%);
    // box-shadow: rgb(31, 31, 30);
 }
 
  
			 

.contant_box_404{ margin-top:-50px;}

