.project-btn.category-btn-active{
    background-color:#F9F2FF

}

.project-btn.term-btn-active{
    background-color:#E8F2FF;
}

.project-btn.all-btn-active{
    background-color: #EEEEEE

}

.project-btn.remove-all{
    background-color: blue;
}

.check-mark-remove{
    display:none;
}