.cats-and-terms-gardient{
 background: linear-gradient(100.04deg, #D4055C 65.97%, #8803DA 104.56%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 background-clip: text;
 color: transparent;
}