.letsTalkGardient {
    background: linear-gradient(95.34deg, rgba(232, 196, 254, 0.4) -0.51%, rgba(253, 195, 220, 0.4) 128.64%);
    border-radius: 16px;
}

.letsTalkGardient-archive {
    background: linear-gradient(95.34deg, rgba(232, 196, 254, 0.4) -0.51%, rgba(253, 195, 220, 0.4) 128.64%);
}
.letsTalkTitle {
    background: linear-gradient(95.34deg, #8803da -0.51%, #d4055c 128.64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font: transparent;
}